.spinner {
  animation: spin 1s linear infinite;
  color: currentColor;
}

.spinner--sm {
  width: 16px;
  height: 16px;
}

.spinner--md {
  width: 24px;
  height: 24px;
}

.spinner--lg {
  width: 32px;
  height: 32px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



